div.container {
    margin-top: 100px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

div.area { 
    border-color: green;
    border-style: solid;
    border-width: thick;
}

div.topBar {
    position: relative;
    display: flex;
    margin-bottom: 0.5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    gap: 170%;
}

td {
    width: 30px;
    height: 30px;
    position: relative;
}

td.dark {
    background-color: rgb(90, 196, 28);
    
}

td.light {
    background-color: rgb(140, 214, 3);
}

td.snake {
    background-color: rgb(182, 135, 74);
}

td.apple {
    background-color: red;
}
